In [2]:
%pip install polars

Requirement already satisfied: polars in /home/fernando/miniconda3/envs/IA/lib/python3.10/site-packages (0.14.18)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import polars as pl

df=pl.read_csv("ordf.csv")
df

shape: (4, 4)
┌─────┬─────┬─────┬────────┐
│     ┆ a   ┆ b   ┆ a_or_b │
│ --- ┆ --- ┆ --- ┆ ---    │
│ i64 ┆ i64 ┆ i64 ┆ i64    │
╞═════╪═════╪═════╪════════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1   ┆ 0   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1   ┆ 1   ┆ 1      │
└─────┴─────┴─────┴────────┘

In [15]:
df.select(["a","a_or_b"]).sum()

shape: (1, 2)
┌─────┬────────┐
│ a   ┆ a_or_b │
│ --- ┆ ---    │
│ i64 ┆ i64    │
╞═════╪════════╡
│ 2   ┆ 3      │
└─────┴────────┘

In [14]:
df.select("^a|b$")

shape: (4, 3)
┌─────┬─────┬────────┐
│ a   ┆ b   ┆ a_or_b │
│ --- ┆ --- ┆ ---    │
│ i64 ┆ i64 ┆ i64    │
╞═════╪═════╪════════╡
│ 0   ┆ 0   ┆ 0      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 0   ┆ 1   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1      │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1   ┆ 1   ┆ 1      │
└─────┴─────┴────────┘

In [16]:
df.select([pl.all(),
          pl.all().reverse().suffix("_reverse")]
          )

shape: (4, 8)
┌─────┬─────┬─────┬────────┬──────────┬───────────┬───────────┬────────────────┐
│     ┆ a   ┆ b   ┆ a_or_b ┆ _reverse ┆ a_reverse ┆ b_reverse ┆ a_or_b_reverse │
│ --- ┆ --- ┆ --- ┆ ---    ┆ ---      ┆ ---       ┆ ---       ┆ ---            │
│ i64 ┆ i64 ┆ i64 ┆ i64    ┆ i64      ┆ i64       ┆ i64       ┆ i64            │
╞═════╪═════╪═════╪════════╪══════════╪═══════════╪═══════════╪════════════════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      ┆ 3        ┆ 1         ┆ 1         ┆ 1              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1   ┆ 1      ┆ 2        ┆ 1         ┆ 0         ┆ 1              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1   ┆ 0   ┆ 1      ┆ 1        ┆ 0         ┆ 1         ┆ 1              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1   ┆ 1   ┆ 1      ┆ 0        ┆ 0         ┆ 0         ┆ 0              │
└─────┴─────┴─────┴────────┴──────────┴───────────┴───────────┴────────────────┘

In [17]:
df.select([pl.all(),
          pl.all().sum().suffix("_sum")]
          )

shape: (4, 8)
┌─────┬─────┬─────┬────────┬──────┬───────┬───────┬────────────┐
│     ┆ a   ┆ b   ┆ a_or_b ┆ _sum ┆ a_sum ┆ b_sum ┆ a_or_b_sum │
│ --- ┆ --- ┆ --- ┆ ---    ┆ ---  ┆ ---   ┆ ---   ┆ ---        │
│ i64 ┆ i64 ┆ i64 ┆ i64    ┆ i64  ┆ i64   ┆ i64   ┆ i64        │
╞═════╪═════╪═════╪════════╪══════╪═══════╪═══════╪════════════╡
│ 0   ┆ 0   ┆ 0   ┆ 0      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0   ┆ 1   ┆ 1      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1   ┆ 0   ┆ 1      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1   ┆ 1   ┆ 1      ┆ 6    ┆ 2     ┆ 2     ┆ 3          │
└─────┴─────┴─────┴────────┴──────┴───────┴───────┴────────────┘

In [4]:
df = pl.DataFrame(
    {
        "A": [1, 2, 3, 4, 5],
        "fruits": ["banana", "banana", "apple", "apple", "banana"],
        "B": [5, 4, 3, 2, 1],
        "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
        "optional": [28, 300, None, 2, -30],
    }
)
df

shape: (5, 5)
┌─────┬────────┬─────┬────────┬──────────┐
│ A   ┆ fruits ┆ B   ┆ cars   ┆ optional │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ str    ┆ i64      │
╞═════╪════════╪═════╪════════╪══════════╡
│ 1   ┆ banana ┆ 5   ┆ beetle ┆ 28       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ banana ┆ 4   ┆ audi   ┆ 300      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ apple  ┆ 3   ┆ beetle ┆ null     │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 4   ┆ apple  ┆ 2   ┆ beetle ┆ 2        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ banana ┆ 1   ┆ beetle ┆ -30      │
└─────┴────────┴─────┴────────┴──────────┘

In [19]:
predicate = pl.col("fruits").str.contains("^b.*")
df.select([predicate])

shape: (5, 1)
┌────────┐
│ fruits │
│ ---    │
│ bool   │
╞════════╡
│ true   │
├╌╌╌╌╌╌╌╌┤
│ true   │
├╌╌╌╌╌╌╌╌┤
│ false  │
├╌╌╌╌╌╌╌╌┤
│ false  │
├╌╌╌╌╌╌╌╌┤
│ true   │
└────────┘

In [20]:
df.filter(predicate)

shape: (3, 5)
┌─────┬────────┬─────┬────────┬──────────┐
│ A   ┆ fruits ┆ B   ┆ cars   ┆ optional │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ str    ┆ i64      │
╞═════╪════════╪═════╪════════╪══════════╡
│ 1   ┆ banana ┆ 5   ┆ beetle ┆ 28       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ banana ┆ 4   ┆ audi   ┆ 300      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ banana ┆ 1   ┆ beetle ┆ -30      │
└─────┴────────┴─────┴────────┴──────────┘

In [22]:
df.filter(pl.col("B")<5)

shape: (4, 5)
┌─────┬────────┬─────┬────────┬──────────┐
│ A   ┆ fruits ┆ B   ┆ cars   ┆ optional │
│ --- ┆ ---    ┆ --- ┆ ---    ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ str    ┆ i64      │
╞═════╪════════╪═════╪════════╪══════════╡
│ 2   ┆ banana ┆ 4   ┆ audi   ┆ 300      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ apple  ┆ 3   ┆ beetle ┆ null     │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 4   ┆ apple  ┆ 2   ┆ beetle ┆ 2        │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ banana ┆ 1   ┆ beetle ┆ -30      │
└─────┴────────┴─────┴────────┴──────────┘

In [24]:
df.select([
    pl.col("A").filter(pl.col("fruits").str.contains("^b.*")).sum(),
    (pl.col("B").filter(pl.col("cars").str.contains("^b.*")).sum() * pl.col("B").sum()).alias("some_compute()"),
])

shape: (1, 2)
┌─────┬────────────────┐
│ A   ┆ some_compute() │
│ --- ┆ ---            │
│ i64 ┆ i64            │
╞═════╪════════════════╡
│ 8   ┆ 165            │
└─────┴────────────────┘

In [25]:
some_var = 1

(df.select([
    ((pl.col("A") / 124.0 * pl.col("B")) / pl.sum("B") * some_var).alias("computed")
]))

shape: (5, 1)
┌──────────┐
│ computed │
│ ---      │
│ f64      │
╞══════════╡
│ 0.002688 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.004301 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.004839 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.004301 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 0.002688 │
└──────────┘

In [28]:
# We can combine columns by a predicate

(df.select([
    "fruits",
    "B",
    pl.when(pl.col("fruits") == "banana").then(pl.col("B")).otherwise(-1).alias("b")
]))

shape: (5, 3)
┌────────┬─────┬─────┐
│ fruits ┆ B   ┆ b   │
│ ---    ┆ --- ┆ --- │
│ str    ┆ i64 ┆ i64 │
╞════════╪═════╪═════╡
│ banana ┆ 5   ┆ 5   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ banana ┆ 4   ┆ 4   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ apple  ┆ 3   ┆ -1  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ apple  ┆ 2   ┆ -1  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ banana ┆ 1   ┆ 1   │
└────────┴─────┴─────┘

In [5]:
(df.select([
    "A",
    "B",
    pl.fold(0, lambda a, b: a + b, [pl.col("A"), "B", pl.col("B")**2, pl.col("A") / 2.0]).alias("fold")
]))

shape: (5, 3)
┌─────┬─────┬──────┐
│ A   ┆ B   ┆ fold │
│ --- ┆ --- ┆ ---  │
│ i64 ┆ i64 ┆ f64  │
╞═════╪═════╪══════╡
│ 1   ┆ 5   ┆ 31.5 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 2   ┆ 4   ┆ 23.0 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 3   ┆ 3   ┆ 16.5 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 4   ┆ 2   ┆ 12.0 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 5   ┆ 1   ┆ 9.5  │
└─────┴─────┴──────┘

Conjunto Iris teste

In [11]:
iris_df=pl.read_csv('iris_df.csv',ignore_errors=True)

In [ ]:
iris_df

In [28]:
iris_df.select([
  pl.any(pl.all().is_nan())
])

shape: (150, 1)
┌───────┐
│ any   │
│ ---   │
│ bool  │
╞═══════╡
│ null  │
├╌╌╌╌╌╌╌┤
│ null  │
├╌╌╌╌╌╌╌┤
│ false │
├╌╌╌╌╌╌╌┤
│ false │
├╌╌╌╌╌╌╌┤
│ ...   │
├╌╌╌╌╌╌╌┤
│ false │
├╌╌╌╌╌╌╌┤
│ false │
├╌╌╌╌╌╌╌┤
│ false │
├╌╌╌╌╌╌╌┤
│ null  │
└───────┘

In [29]:
iris_df_rem=iris_df.drop_nulls()

In [32]:
iris_df_rem.head()

shape: (5, 6)
┌─────┬─────┬─────┬─────┬────────────┬────────────────┐
│     ┆ sep ┆ sep ┆ pet ┆ petal      ┆ encoded_target │
│ --- ┆ al  ┆ al  ┆ al  ┆ width (cm) ┆ ---            │
│ i64 ┆ len ┆ wid ┆ len ┆ ---        ┆ i64            │
│     ┆ gth ┆ th  ┆ gth ┆ f64        ┆                │
│     ┆ (cm ┆ (cm ┆ (cm ┆            ┆                │
│     ┆ )   ┆ )   ┆ )   ┆            ┆                │
│     ┆ --- ┆ --- ┆ --- ┆            ┆                │
│     ┆ f64 ┆ f64 ┆ f64 ┆            ┆                │
╞═════╪═════╪═════╪═════╪════════════╪════════════════╡
│ 2   ┆ 4.7 ┆ 3.2 ┆ 1.3 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 4.6 ┆ 3.1 ┆ 1.5 ┆ -1.0000e11 ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ 5.4 ┆ 3.9 ┆ 1.7 ┆ 0.4        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6   ┆ 4.6 ┆ 3.4 ┆ 1.4 ┆ 0.3        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 7   ┆ 5.0 ┆ 3.4 ┆ 1.5 ┆ 0.2        ┆ 0              │
└─────┴─────┴─────┴─────┴────────────┴────────────────┘

In [35]:
iris_df.mean()

shape: (1, 6)
┌──────┬─────────┬──────────┬──────────┬───────────┬────────────────┐
│      ┆ sepal   ┆ sepal    ┆ petal    ┆ petal     ┆ encoded_target │
│ ---  ┆ length  ┆ width    ┆ length   ┆ width     ┆ ---            │
│ f64  ┆ (cm)    ┆ (cm)     ┆ (cm)     ┆ (cm)      ┆ f64            │
│      ┆ ---     ┆ ---      ┆ ---      ┆ ---       ┆                │
│      ┆ f64     ┆ f64      ┆ f64      ┆ f64       ┆                │
╞══════╪═════════╪══════════╪══════════╪═══════════╪════════════════╡
│ 74.5 ┆ 5.85473 ┆ 3.054362 ┆ 3.764865 ┆ -6.7114e8 ┆ 1.0            │
└──────┴─────────┴──────────┴──────────┴───────────┴────────────────┘

In [41]:
from statistics import mean
iris_df_mean=iris_df.fill_null(strategy='mean')
# iris_df_zero=iris_df.fillna(0)
# iris_df_impossible=iris_df.fillna(-999)
iris_df_mean

shape: (150, 6)
┌─────┬─────────┬──────────┬──────────┬────────────┬────────────────┐
│     ┆ sepal   ┆ sepal    ┆ petal    ┆ petal      ┆ encoded_target │
│ --- ┆ length  ┆ width    ┆ length   ┆ width (cm) ┆ ---            │
│ i64 ┆ (cm)    ┆ (cm)     ┆ (cm)     ┆ ---        ┆ i64            │
│     ┆ ---     ┆ ---      ┆ ---      ┆ f64        ┆                │
│     ┆ f64     ┆ f64      ┆ f64      ┆            ┆                │
╞═════╪═════════╪══════════╪══════════╪════════════╪════════════════╡
│ 0   ┆ 5.85473 ┆ 3.054362 ┆ 3.764865 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 5.85473 ┆ 3.0      ┆ 1.4      ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 4.7     ┆ 3.2      ┆ 1.3      ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 4.6     ┆ 3.1      ┆ 1.5      ┆ -1.0000e11 ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ...     ┆ ...      ┆ ...      ┆ ...        ┆ ...            │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 146 ┆ 6.3     ┆ 2.5      ┆ 5.0      ┆ 1.9        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 147 ┆ 6.5     ┆ 3.0      ┆ 5.2      ┆ 2.0        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 148 ┆ 6.2     ┆ 3.4      ┆ 5.4      ┆ 2.3        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 149 ┆ 5.9     ┆ 3.0      ┆ 3.764865 ┆ 1.8        ┆ 2              │
└─────┴─────────┴──────────┴──────────┴────────────┴────────────────┘

In [43]:
iris_df_zero=iris_df.fill_null(0)
# iris_df_impossible=iris_df.fillna(-999)
iris_df_zero

shape: (150, 6)
┌─────┬─────┬─────┬─────┬────────────┬────────────────┐
│     ┆ sep ┆ sep ┆ pet ┆ petal      ┆ encoded_target │
│ --- ┆ al  ┆ al  ┆ al  ┆ width (cm) ┆ ---            │
│ i64 ┆ len ┆ wid ┆ len ┆ ---        ┆ i64            │
│     ┆ gth ┆ th  ┆ gth ┆ f64        ┆                │
│     ┆ (cm ┆ (cm ┆ (cm ┆            ┆                │
│     ┆ )   ┆ )   ┆ )   ┆            ┆                │
│     ┆ --- ┆ --- ┆ --- ┆            ┆                │
│     ┆ f64 ┆ f64 ┆ f64 ┆            ┆                │
╞═════╪═════╪═════╪═════╪════════════╪════════════════╡
│ 0   ┆ 0.0 ┆ 0.0 ┆ 0.0 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0.0 ┆ 3.0 ┆ 1.4 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 4.7 ┆ 3.2 ┆ 1.3 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 4.6 ┆ 3.1 ┆ 1.5 ┆ -1.0000e11 ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ... ┆ ... ┆ ...        ┆ ...            │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 146 ┆ 6.3 ┆ 2.5 ┆ 5.0 ┆ 1.9        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 147 ┆ 6.5 ┆ 3.0 ┆ 5.2 ┆ 2.0        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 148 ┆ 6.2 ┆ 3.4 ┆ 5.4 ┆ 2.3        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 149 ┆ 5.9 ┆ 3.0 ┆ 0.0 ┆ 1.8        ┆ 2              │
└─────┴─────┴─────┴─────┴────────────┴────────────────┘

In [44]:
iris_df_rem.describe()

shape: (7, 7)
┌────────────┬───────────┬────────────┬─────────┬──────────┬────────────┬──────────┐
│ describe   ┆ column_0  ┆ sepal      ┆ sepal   ┆ petal    ┆ petal      ┆ encoded_ │
│ ---        ┆ ---       ┆ length     ┆ width   ┆ length   ┆ width (cm) ┆ target   │
│ str        ┆ f64       ┆ (cm)       ┆ (cm)    ┆ (cm)     ┆ ---        ┆ ---      │
│            ┆           ┆ ---        ┆ ---     ┆ ---      ┆ f64        ┆ f64      │
│            ┆           ┆ f64        ┆ f64     ┆ f64      ┆            ┆          │
╞════════════╪═══════════╪════════════╪═════════╪══════════╪════════════╪══════════╡
│ count      ┆ 146.0     ┆ 146.0      ┆ 146.0   ┆ 146.0    ┆ 146.0      ┆ 146.0    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ null_count ┆ 0.0       ┆ 0.0        ┆ 0.0     ┆ 0.0      ┆ 0.0        ┆ 0.0      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ mean       ┆ 75.486301 ┆ 5.860274   ┆ 3.05137 ┆ 3.79726  ┆ -6.8493e8  ┆ 1.013699 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ std        ┆ 42.314298 ┆ 0.830329   ┆ 0.4379  ┆ 1.753064 ┆ 8.2761e9   ┆ 0.81356  │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ min        ┆ 2.0       ┆ 4.3        ┆ 2.0     ┆ 1.0      ┆ -1.0000e11 ┆ 0.0      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ max        ┆ 148.0     ┆ 7.9        ┆ 4.4     ┆ 6.9      ┆ 2.5        ┆ 2.0      │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ median     ┆ 75.5      ┆ 5.8        ┆ 3.0     ┆ 4.4      ┆ 1.3        ┆ 1.0      │
└────────────┴───────────┴────────────┴─────────┴──────────┴────────────┴──────────┘

In [45]:
iris_df_rem.unique()

shape: (146, 6)
┌─────┬─────┬─────┬─────┬────────────┬────────────────┐
│     ┆ sep ┆ sep ┆ pet ┆ petal      ┆ encoded_target │
│ --- ┆ al  ┆ al  ┆ al  ┆ width (cm) ┆ ---            │
│ i64 ┆ len ┆ wid ┆ len ┆ ---        ┆ i64            │
│     ┆ gth ┆ th  ┆ gth ┆ f64        ┆                │
│     ┆ (cm ┆ (cm ┆ (cm ┆            ┆                │
│     ┆ )   ┆ )   ┆ )   ┆            ┆                │
│     ┆ --- ┆ --- ┆ --- ┆            ┆                │
│     ┆ f64 ┆ f64 ┆ f64 ┆            ┆                │
╞═════╪═════╪═════╪═════╪════════════╪════════════════╡
│ 2   ┆ 4.7 ┆ 3.2 ┆ 1.3 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 4.6 ┆ 3.1 ┆ 1.5 ┆ -1.0000e11 ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ 5.4 ┆ 3.9 ┆ 1.7 ┆ 0.4        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6   ┆ 4.6 ┆ 3.4 ┆ 1.4 ┆ 0.3        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ... ┆ ... ┆ ...        ┆ ...            │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 145 ┆ 6.7 ┆ 3.0 ┆ 5.2 ┆ 2.3        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 146 ┆ 6.3 ┆ 2.5 ┆ 5.0 ┆ 1.9        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 147 ┆ 6.5 ┆ 3.0 ┆ 5.2 ┆ 2.0        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 148 ┆ 6.2 ┆ 3.4 ┆ 5.4 ┆ 2.3        ┆ 2              │
└─────┴─────┴─────┴─────┴────────────┴────────────────┘

In [46]:
iris_df['petal length (cm)'].unique()

shape: (44,)
Series: 'petal length (cm)' [f64]
[
	null
	1.0
	1.1
	1.2
	1.3
	1.4
	1.5
	1.6
	1.7
	1.9
	3.0
	3.3
	...
	5.5
	5.6
	5.7
	5.8
	5.9
	6.0
	6.1
	6.3
	6.4
	6.6
	6.7
	6.9
]

In [58]:
# iris_df=iris_df[iris_df['petal length (cm)'] != 'cwevawevberbqb'].reset_index(drop=True)
# df.filter(pl.col("B")<5)
# iris_df.select([
#   pl.all().filter(pl.col('petal length (cm)')>5)
# ])
iris_df.filter(pl.col('petal length (cm)')==None)

shape: (2, 6)
┌─────┬──────┬──────┬──────┬─────┬────────────────┐
│     ┆ sepa ┆ sepa ┆ peta ┆ pet ┆ encoded_target │
│ --- ┆ l    ┆ l    ┆ l    ┆ al  ┆ ---            │
│ i64 ┆ leng ┆ widt ┆ leng ┆ wid ┆ i64            │
│     ┆ th   ┆ h    ┆ th   ┆ th  ┆                │
│     ┆ (cm) ┆ (cm) ┆ (cm) ┆ (cm ┆                │
│     ┆ ---  ┆ ---  ┆ ---  ┆ )   ┆                │
│     ┆ f64  ┆ f64  ┆ f64  ┆ --- ┆                │
│     ┆      ┆      ┆      ┆ f64 ┆                │
╞═════╪══════╪══════╪══════╪═════╪════════════════╡
│ 0   ┆ null ┆ null ┆ null ┆ 0.2 ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 149 ┆ 5.9  ┆ 3.0  ┆ null ┆ 1.8 ┆ 2              │
└─────┴──────┴──────┴──────┴─────┴────────────────┘

In [71]:
import numpy as np
# iris_df_rem['artifical']=np.random.uniform(100,1000,iris_df.shape[0]).round(2)
# iris_df_rem.insert_at_idx(0,pl.Series("baz", np.random.uniform(90,100,iris_df.shape[0]).round(2)))
iris_df_rem

shape: (146, 6)
┌─────┬─────┬─────┬─────┬────────────┬────────────────┐
│     ┆ sep ┆ sep ┆ pet ┆ petal      ┆ encoded_target │
│ --- ┆ al  ┆ al  ┆ al  ┆ width (cm) ┆ ---            │
│ i64 ┆ len ┆ wid ┆ len ┆ ---        ┆ i64            │
│     ┆ gth ┆ th  ┆ gth ┆ f64        ┆                │
│     ┆ (cm ┆ (cm ┆ (cm ┆            ┆                │
│     ┆ )   ┆ )   ┆ )   ┆            ┆                │
│     ┆ --- ┆ --- ┆ --- ┆            ┆                │
│     ┆ f64 ┆ f64 ┆ f64 ┆            ┆                │
╞═════╪═════╪═════╪═════╪════════════╪════════════════╡
│ 2   ┆ 4.7 ┆ 3.2 ┆ 1.3 ┆ 0.2        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 4.6 ┆ 3.1 ┆ 1.5 ┆ -1.0000e11 ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ 5.4 ┆ 3.9 ┆ 1.7 ┆ 0.4        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6   ┆ 4.6 ┆ 3.4 ┆ 1.4 ┆ 0.3        ┆ 0              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ... ┆ ... ┆ ...        ┆ ...            │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 145 ┆ 6.7 ┆ 3.0 ┆ 5.2 ┆ 2.3        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 146 ┆ 6.3 ┆ 2.5 ┆ 5.0 ┆ 1.9        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 147 ┆ 6.5 ┆ 3.0 ┆ 5.2 ┆ 2.0        ┆ 2              │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 148 ┆ 6.2 ┆ 3.4 ┆ 5.4 ┆ 2.3        ┆ 2              │
└─────┴─────┴─────┴─────┴────────────┴────────────────┘